body{
    background: rgba(245, 238, 238, 0.959);
    color: #161617fb;
    font-family: sans-serif;
    font-size:15px;
}

#wrapper{
    background: rgb(252, 252, 252);
    width: 1100px;
    margin: 20px auto;
}

#wrapper header{
    background: #1717d8fb;
    padding: 20px;
}

#wrapper header hgroup{
    float: left;
    color: rgb(239, 247, 12);
}

#wrapper header nav{
    float: right;
    margin-top: 50px;

}

#wrapper header nav ul{
    padding: 0;
    margin: 0;
}

#wrapper header nav ul li{
    float: left;
    list-style: none;
}

#wrapper header nav ul li a{
    padding: 15px;
    color: rgb(239, 247, 12);
    text-decoration: none;
}

.clear{
    clear: both;
}

footer{
    background: #1717d8fb;
    padding: 20px;
}

    footer a{
    color: rgb(239, 247, 12);
    text-decoration: none;
}

section{
    padding: 20px;
}